{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Refugee Resources</title>

    <!-- Sets initial viewport load and disables zooming  -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">


    <link rel="stylesheet" href="{% static 'js/vendors/mobile-angular-ui/css/mobile-angular-ui-hover.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'js/vendors/mobile-angular-ui/css/mobile-angular-ui-base.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'js/vendors/mobile-angular-ui/css/mobile-angular-ui-desktop.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'ModalWindowEffects/css/default.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'ModalWindowEffects/css/component.css' %}"/>
    <link href='//fonts.googleapis.com/css?family=Paytone+One|Bevan|Quicksand|Quattrocento+Sans|Architects+Daughter|Comfortaa|Fredoka+One|Patua+One|Poiret+One|Concert+One|Josefin+Sans: 400,600,700|Francois+One|Raleway|Coming+Soon|Permanent+Marker|Oleo+Script+Swash+Caps|Oleo+Script'
          rel='stylesheet' type='text/css'>

    <script src="{% static 'angular/angular.js' %}"></script>
    <script src="{% static 'angular/angular-route.js' %}"></script>
    <script src="{% static 'js/vendors/mobile-angular-ui/js/mobile-angular-ui.js' %}"></script>
    <script src="{% static 'js/angular-translate.min.js' %}"></script>
    <script src="{% static 'js/angular-translate-loader-url.min.js' %}"></script>
    <script src='https://cdn.firebase.com/js/client/1.1.1/firebase.js'></script>
    <script src='https://cdn.firebase.com/libs/angularfire/0.8.0/angularfire.min.js'></script>


    <!-- JavaScript -->
    <script src="{% static "js/myApp.js" %}"></script>

    <!-- Defines index page's controller -->
    <script src="{% static "js/controllers/homeController.js" %}"></script>
    <script src="{% static "js/controllers/languageController.js" %}"></script>
    <script src="{% static "js/controllers/baseController.js" %}"></script>
    {#        <script src="{% static "js/controllers/housingController.js" %}"></script>#}
    <script src="{% static "js/controllers/helpController.js" %}"></script>

    <!-- Custom CSS -->
    <link href="{% static 'project.css' %}" rel="stylesheet">
</head>
<body>
<div ng-app="myApp">

    <div class="navbar navbar-app navbar-absolute-top">

        <div class="navbar-brand navbar-brand-center" yield-to="title">
            <a href="#/language"><p id="title">Refugee Resources</p></a>
        </div>

        <div class="btn-group pull-left">
            <a href="#/language"><div ng-click="toggle('sidebar')" class="btn btn-navbar sidebar-toggle">
                <i class="fa fa-bars"></i>
            </div></a>
        </div>
    </div>

<div class="navbar navbar-app navbar-absolute-bottom">
    <div class="btn-group justified">
        <a href="#/language" class="btn btn-navbar btn-icon-only"><i class="fa fa-home fa-navbar"></i></a>
        <a href="#/route1" class="btn btn-navbar btn-icon-only"><i class="glyphicon glyphicon-globe"></i></a>
    </div>
</div>

<div class="app-body">
    <ng-view class="app-content"></ng-view>
</div>
</div>
</div>
<script src="{% static 'ModalWindowEffects/js/modernizr.custom.js' %}"></script>
<script src="{% static 'ModalWindowEffects/js/classie.js' %}"></script>
<script src="{% static 'ModalWindowEffects/js/modalEffects.js' %}"></script>
<script>
    var polyfilter_scriptpath = '/js/';
</script>
<script src="{% static 'ModalWindowEffects/js/cssParser.js' %}"></script>
<script src="{% static 'ModalWindowEffects/js/css-filters-polyfill.js' %}"></script>
<script type="text/javascript">

</script>

</body>
</html>