<button id="languageBtn" ng-mouseenter="toggle('language')" ng-mouseleave="toggle('language')" class="btn btn-default">
    <div class="panel-heading" toggle target="collapseOne">
      <h4 class="panel-title">
          <img src="{% url 'https://www.iconfinder.com/icons/104897/home_housing_icon' %}"/>
         <p class="btnText">Language</p>
      </h4>
    </div>
  </button>

  <button id="healthBtn" ng-mouseenter="toggle('health')" ng-mouseleave="toggle('health')" class="btn btn-default">
    <div class="panel-heading" toggle target="collapseTwo">
      <h4 class="panel-title">
          <img src="{% url 'https://www.iconfinder.com/icons/104897/home_housing_icon' %}"/>
         <p class="btnText">Health</p>
      </h4>
    </div>
  </button>
  <button id="housingBtn" ng-mouseenter="toggle('housing')" ng-mouseleave="toggle('housing')" class="btn btn-default">
    <div class="panel-heading" toggle target="collapseThree">
            <img src="{% url 'https://www.iconfinder.com/icons/104897/home_housing_icon' %}"/>
      <h4 class="panel-title">
          <p class="btnText">Housing</p>
      </h4>
    </div>
  </button>
  <button id="helpBtn" ng-mouseenter="toggle('help')" ng-mouseleave="toggle('help')" class="btn btn-default">
    <div class="panel-heading" toggle target="collapseThree">
      <h4 class="panel-title">
            <img src="{% url 'https://www.iconfinder.com/icons/104897/home_housing_icon' %}"/>
          <p class="btnText">Help</p>
          </h4>
    </div>
  </button>
<a href="language.html"><div ng-if="switches['language']" id="language"></div></a>
<a href="health.html"><div ng-if="switches['health']" id="health"></div></a>
<a href="housing.html"><div ng-if="switches['housing']" id="housing"></div></a>
<a href="help.html"><div ng-if="switches['help']" id="help"></div></a>