<div class="contentLang">
    <div style="margin-left: -400px;width: 400%" class="container">
        <div class="md-modal md-effect-1" id="modal-1">
            <div class="md-content">

            </div>
        </div>

        <p style="font-size: 1px">.</p>

        <p style="font-size: 1px">.</p>


        <div class="md-overlay"></div>

    </div>
    <div id="welcomes">
    <h1 id="welcome">Welcome!</h1>

    <h1 id="nepali">स्वागत छ!</h1>

    <h1 id="armenian">Բարի գալուստ!</h1>


    <h1 id="french">Bienvenue!</h1>

    <h1 id="arabic">مترحيب</h1>

    <h1 id="spanish">¡Bienvenido!</h1>

    <h1 id="chinese">欢迎</h1>
        </div>

    <div class="styled-select">
        <h1><select ng-model="appLang" ng-options="lang.name for lang in languages" ng-change="newLanguage()">
            <option value="">Choose your language</option>
        </select></h1>
    </div>


</div>
