
.content:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.8;

    display: block;
    background-image: url('img/base/hands-nourished-community.jpg');
    background-position: 30%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.contentLang:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    background: url('img/base/hands-nourished-community.jpg') no-repeat center;
    background-position: 40%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    opacity: 0.7;

}

.contentLang {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
    margin-left: 20px;
    margin-right: 20px;
}

#language {
    background: url("img/conversation.jpg") no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    height: 200px;

}

#allBtn {
    border: 0 inset #255;
    height: 160px;
    border-radius: 20px;
    background-color: #eaeaea;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eaeaea));
    background-image: -webkit-linear-gradient(top, #f6f6f6, #eaeaea);
    background-image: -moz-linear-gradient(top, #f6f6f6, #eaeaea);
    background-image: -ms-linear-gradient(top, #f6f6f6, #eaeaea);
    background-image: -o-linear-gradient(top, #f6f6f6, #eaeaea);
    background-image: linear-gradient(top, #f6f6f6, #eaeaea);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
}

#allBtn:active {
    top: 1px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#f6f6f6));
    background-image: -webkit-linear-gradient(top, #eaeaea, #f6f6f6);
    background-image: -moz-linear-gradient(top, #eaeaea, #f6f6f6);
    background-image: -ms-linear-gradient(top, #eaeaea, #f6f6f6);
    background-image: -o-linear-gradient(top, #eaeaea, #f6f6f6);
    background-image: linear-gradient(top, #eaeaea, #f6f6f6);
}

#allBtn:hover {
    border: 1px solid #bfc4c4;
    background-color: #FAFFFF;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#FAFFFF), to(#C6C3C3));
    background-image: -webkit-linear-gradient(top, #FAFFFF, #C6C3C3);
    background-image: -moz-linear-gradient(top, #FAFFFF, #C6C3C3);
    background-image: -ms-linear-gradient(top, #FAFFFF, #C6C3C3);
    background-image: -o-linear-gradient(top, #FAFFFF, #C6C3C3);
    background-image: linear-gradient(to bottom, #FAFFFF, #C6C3C3);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#FAFFFF, endColorstr=#C6C3C3);
}

@media (max-width: 767px) {
    #allBtn {
        border: 0 inset #255;
        height: 136px;
        width: 162px;
        border-radius: 20px;
        background-color: #eaeaea;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f6f6f6), to(#eaeaea));
        background-image: -webkit-linear-gradient(top, #f6f6f6, #eaeaea);
        background-image: -moz-linear-gradient(top, #f6f6f6, #eaeaea);
        background-image: -ms-linear-gradient(top, #f6f6f6, #eaeaea);
        background-image: -o-linear-gradient(top, #f6f6f6, #eaeaea);
        background-image: linear-gradient(top, #f6f6f6, #eaeaea);
        -moz-border-radius: 20px;
        -webkit-border-radius: 20px;
        border-radius: 20px;
        -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
        box-shadow: 0 1px 1px rgba(0, 0, 0, .25), 0 2px 3px rgba(0, 0, 0, .1);
    }
}

@media (max-width: 767px) {
    #allBtn:active {
        top: 1px;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#eaeaea), to(#f6f6f6));
        background-image: -webkit-linear-gradient(top, #eaeaea, #f6f6f6);
        background-image: -moz-linear-gradient(top, #eaeaea, #f6f6f6);
        background-image: -ms-linear-gradient(top, #eaeaea, #f6f6f6);
        background-image: -o-linear-gradient(top, #eaeaea, #f6f6f6);
        background-image: linear-gradient(top, #eaeaea, #f6f6f6);
    }
}

@media (max-width: 767px) {
    #allBtn:hover {
        border: 1px solid #bfc4c4;
        background-color: #FAFFFF;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#FAFFFF), to(#C6C3C3));
        background-image: -webkit-linear-gradient(top, #FAFFFF, #C6C3C3);
        background-image: -moz-linear-gradient(top, #FAFFFF, #C6C3C3);
        background-image: -ms-linear-gradient(top, #FAFFFF, #C6C3C3);
        background-image: -o-linear-gradient(top, #FAFFFF, #C6C3C3);
        background-image: linear-gradient(to bottom, #FAFFFF, #C6C3C3);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#FAFFFF, endColorstr=#C6C3C3);
    }
}

.btn-default {
    width: 47%;
    /*height: 220px;*/
    margin: 3px;

}

#outsideBtns {
    margin-left: 4%;
    margin-top: 3%;
    margin-bottom: 4%;
}

.btnText {
    color: #1f3451;
    font-size: 25px;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: lowercase;
    font-weight: 700;
    text-align: center;
}

#help {
    background: url("img/communityService.gif") no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    height: 210px;
}

#housing {
    background: url("img/housing%20img/front-sketch.jpg") no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    height: 210px;
}

#health {
    background: url("img/health/images.jpeg") no-repeat center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    height: 210px;

}

.panel-title {
    font-family: 'Coming Soon', cursive;
}

i {
    color: #f5f5f5;
}

#title {
    color: #f5f5f5;
    /*font-weight: bold;*/
    font-size: 23px;
    font-family: 'Paytone One', sans-serif;
    letter-spacing: 1px;
}

.navbar {
    border: 1px solid #000000;
    background: -webkit-gradient(linear, 70% 2%, 70% 100%, color-stop(0%, #1f3451), color-stop(90%, #18283f));
    background: -webkit-linear-gradient(bottom, #1f3451, #18283f);
    background: -moz-linear-gradient(bottom, #1f3451, #18283f);
    background: -o-linear-gradient(bottom, #1f3451, #18283f);
    background: -ms-linear-gradient(bottom, #1f3451, #18283f);
    background: linear-gradient(bottom, #1f3451, #18283f);
    border-radius: 4px;
    box-shadow: 0 1px 1px darkslategray;

}

#abc {
    position: absolute;
    margin-top: 20px;
    margin-left: 40px;
    color: #000000;
    font-family: "ProximaNova", "Helvetica Neue", helvetica, arial, sans-serif;
    letter-spacing: 3px;

}

.md-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    max-width: 630px;
    min-width: 320px;
    height: auto;
    z-index: 2000;
    visibility: hidden;
    backface-visibility: hidden;
    transform: translateX(-50%) translateY(-50%);
}

.md-show {
    visibility: visible;
    overflow: auto;
}

.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: rgba(143, 27, 15, 0.8);
    transition: all 0.3s;
}

.md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible;
}

.md-perspective,
.md-perspective body {
    height: 100%;
    overflow: hidden;
}

.md-perspective body {
    background: #222;
    perspective: 600px;
}

.container {
    background: #e74c3c;
    min-height: 100%;

}

.strip {
    height: 50px;
    background: darkred;
}

/*modal*/
.md-modal {
    position: fixed;
    top: 50%;
    left: 51%;
    width: 50%;
    max-width: 630px;
    min-width: 335px;
    height: 75%;
    border-radius: 14px;
    z-index: 2000;
    visibility: hidden;
    backface-visibility: hidden;
    transform: translateX(-50%) translateY(-50%);
}

.md-show {
    visibility: visible;
}

.md-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    visibility: hidden;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: 0;
    background: rgba(143, 27, 15, 0.8);
    transition: all 0.3s;
}

.md-show ~ .md-overlay {
    opacity: 1;
    visibility: visible;
}

.md-perspective,
.md-perspective body {
    height: 100%;
    overflow: hidden;
}

.md-perspective body {
    background: #222;
    perspective: 600px;
}

.container {
    background: #e74c3c;
    min-height: 100%;
}

.md-show.md-effect-5 ~ .md-overlay {
    background: rgba(0, 127, 108, 0.8);
}

.md-effect-5 .md-content {
    transform: scale(0) rotate(720deg);
    opacity: 0;
    transition: all 0.5s;
}

.md-show.md-effect-5 .md-content {
    transform: scale(1) rotate(0deg);
    opacity: 1;
}

.comment {
    background: #f5f5f5;
    color: #000000;
}

/* angularbase css */

.example-base {
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.hide {
    display: none;
}

.l-demo-container {
    min-width: 360px;
    height: 475px;
    margin: 20px auto 10px auto;
}

.l-popout {
    margin: 0;
    padding: 0;
    border: 0;
}

.l-popout iframe {
    width: 100%;
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    border: 2px solid #18283f;
    border-radius: 5px;

}

.example-chat {

    font-family: 'Quattrocento Sans', sans-serif;
    border-radius: 5px;
    -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    background-color: #fff;;
    overflow: auto;
    padding: 0px;
    font-size: 16px;
    line-height: 22px;
    color: #666;
    border: 2px solid #18283f;
    letter-spacing: 1px;

}

.example-chat header {

    background-color: #18283f;
    border-radius: 3px 3px 0px 0px;
    border-bottom: 1px solid #18283f;
    line-height: 27px;
    font-size: 12px;
    height: 30px;
    text-align: center;
    color: #ffffff;
    letter-spacing: 2px;

}

.example-chat input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 0px 10px;
    height: 30px;
    font-size: 18px;
    width: 100%;
    font-weight: normal;
    outline: none;
    background-color: #FFF;
}

.example-chat .example-chat-toolbar {
    background-color: #FFF;
    padding: 10px;
    position: relative;
    border-bottom: 2px solid #18283f;
}

.example-chat .example-chat-toolbar label {
    line-height: 32px;
    font-size: 16px;
    color: #999;
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 1;

}

.example-chat .example-chat-toolbar input {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #FFF;
    padding-left: 105px;
    color: #999;
    font-size: 14px;
    border-radius: 5px;

}

.example-chat .example-chat-toolbar input:active, .example-chat .example-chat-toolbar input:focus {
    color: #999;
    border: 1px solid #FFF;
    border-radius: 5px;

}

.example-chat ul {
    list-style: none;
    margin: 0px;
    padding: 20px;
    overflow: auto;
    background-color: #ffffff;
}

.example-chat ul li {
    line-height: 24px;
}

.example-chat ul li:last-child {
    margin: 0px;
    background-color: #FFF;

}

.example-chat ul .example-chat-username {
    margin-right: 20px;
    font-weight: bold;
    color: red;
    font-size: 16px;
}

.example-chat footer {
    display: block;
    padding: 10px;
    border: #18283f;
    background-color: #FFF;

}

.example-chat footer input {
    height: 40px;
    position: fixed;
    width: 90%;
    bottom: 60px;
    left: 20px;
    padding: 30px;
    text-align: left;
    border: 2px solid #18283f;
    background-color: #FFF;
    border-radius: 0 0 6px 6px;

}

.btn-special {
    text-decoration: none;
    color: #ffffff;
    height: 50px;
}

.btn-special:hover, .btn-special:visited, .btn-special:link, .btn-special:active {
    text-decoration: none;
    font-weight: bold;
    color: white;
    /*background-color: #1f3451;*/

}

.btn {
    font-size: 19px;
}

/*#healthDiv {*/
/*padding: 15px 90px 30px;*/
/*}*/

#findDoc {
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#legalRights {
    font-weight: lighter;
    letter-spacing: 1px;
    height: auto;
    border-radius: 7px;
}

#Chat {
    font-size: 30px;
    text-align: center;
    letter-spacing: 2px;
    margin: 8px;
    font-family: 'Francois One', sans-serif;
}

#click {
    font-size: 20px;
    letter-spacing: 1px;
}

.styled-select select {
    width: 90%;
    margin-top: -10px;
    font-family: 'josefin sans';
    font-weight: 700;
    font-size: 23px;
    line-height: 4;
    border-radius: 90px;
    height: 50px;
    position: fixed;
    color: #1f3451;
    border: 1px solid #1f3451;
    left: 5%;
    right: 35px;
    top: 90px;
    box-shadow: inset 2px 2px 3px 0 #1f3451;

}

#welcome {
    font-family: 'Permanent Marker', cursive;
    padding: 2%;
    margin-left: 51%;
    text-shadow: 2px 2px #18283f;
}

#nepali {
    font-family: 'Permanent Marker', cursive;
    text-shadow: 2px 2px #18283f;
    margin-left: 10%;
}

#arabic {
    font-family: 'Permanent Marker', cursive;
    text-shadow: 2px 2px #18283f;
    font-size: 65px;
    margin-top: -45px;
    margin-bottom: 20px;
    float: right;
    margin-right: 5%;
}

#chinese {
    font-family: 'Permanent Marker', cursive;
    text-shadow: 2px 2px #18283f;
    padding: 20px;
}

#french {
    font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-shadow: 2px 2px #18283f;
    padding: 10px;
    margin-left: 8%;
}

#spanish {
    font-family: 'Oleo Script Swash Caps', cursive;
    margin-top: 80px;
    text-shadow: 2px 2px #18283f;
    text-align: center;
}

#armenian {
    font-family: 'Permanent Marker', cursive;
    text-shadow: 2px 2px #18283f;
    margin-left: 25%;
    padding: 10px;
}

#welcomes {
    margin-top: 95px;
}

#chatBox {
    position: absolute;
}

#linkToNumbers {
    text-align: center;
    color: #ffffff;
    text-decoration: underline;
    font-size: 14px;
    vertical-align: middle;
    align-content: center;
    margin-top: -40px;
    display: block;
    z-index: 1000;
}

.video {
    text-align: center;
    vertical-align: middle;
    display: block;
    align-content: center;
}

#videoFrame {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.phoneNumber {
    color: #ffffff;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    align-content: center;

}

#unionPhone {
    display: block;
    margin-top: 60px;

}

#tenantsRights {
    position: absolute;
    margin-top: 10px;

}

/* This code doesn't really do that much */
#shelterBeds {
    border: 2px solid #1f3451;
    border-radius: 7px;
    height: 110px;
    width: 400px;
    display: block;
    margin: 0 auto;
    font-size: 0.8em;
}

#emergency {
    margin-top: 20px;

}

#sfGov {
    -webkit-filter: invert(100%);
    height: 53px
}

#docPhone {
    color: white;
    font-weight: 700;
    letter-spacing: 1px;
}

#map {
    border-radius: 20px;
    text-shadow: 2px 2px #18283f;
    width: 100%;

}

.bigBlue {
    max-height: 290px;
    margin-left: auto;
    display: block;
    margin-right: auto;
    -webkit-box-shadow: 0 8px 9px -3px #18283f;
    -moz-box-shadow: 0 8px 9px -3px #18283f;
    box-shadow: 0 8px 9px -3px #18283f;
    border-radius: 500px;
}

#jobs {
    max-height: 220px;
    margin-left: auto;
    display: block;
    margin-right: auto;
}

#mesInput {
    position: absolute;
    bottom: 0px;
    margin-left: -2px;
    height: 50px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-radius: 0 0 6px 6px;

}

#helpContainer {
    margin-left: -400px;
    width: 400%;
}