body{

}
#language {
    background: url("img/conversation.jpg") no-repeat center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 210px;
}

#help {
    background: url("img/communityService.gif") no-repeat center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 210px;
}

#housing {
    background: url("img/housing%20img/front-sketch.jpg") no-repeat center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 210px;
}

#health {
    background: url("img/health/images.jpeg") no-repeat center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height: 210px;
}

.panel-title {
    font-family: 'Coming Soon', cursive;
}

.btn-default {
    width: 43%;
    /*height: 220px;*/
    margin-left: 4%;
    margin-top: 4%;
    /*margin-right: 4%;*/
}
.bottomRow {
        margin-bottom: 4%;

}
